<form [formGroup]="applicationDataForm" (ngSubmit)="onSubmit()" novalidate>
    <div data-qa-page="application-data" style="text-align: left;">

        <!-- <ul style="list-style: none;">
            <li *ngFor="let applicationType of applicationTypes()">
                <label>
                    <input type="radio"  (change)="applicationTypeChangeHandler($event)"  formControlName='applicationTypeInput' [value]="applicationType.getId()">
                    <span>{{applicationType.getValue()}}</span>
                </label>
            </li>
        </ul> -->

        <div>
            <label>
                <input type="radio" id="REMO" formControlName="applicationTypeInput" value="REMO"
                    (change)="applicationTypeChangeHandler($event)" />
                <span>Remortgages</span>
            </label>
        </div>

        <div>
            <label>
                <input type="radio" id="FTB" formControlName="applicationTypeInput" value="FTB"
                    (change)="applicationTypeChangeHandler($event)" />
                <span>First Time Buyer</span>
            </label>
        </div>

        <div>
            <label>
                <input type="radio" id="FTB" formControlName="applicationTypeInput" value="SWITCHER"
                    (change)="applicationTypeChangeHandler($event)" />
                <span>Switcher</span>
            </label>
        </div>
        <div>
            <label>
                <input type="radio" id="FTB" formControlName="applicationTypeInput" value="OTHER"
                    (change)="applicationTypeChangeHandler($event)" />
                <span>Other application types</span>
            </label>

        </div>


        <button id="submit" type="submit" [disabled]="!applicationDataForm.valid">Submit</button>

    </div>


    <div id="likeforlikeSection" *ngIf="isRemoApplicationType" style="text-align: left;">
        <h3>like for like Questions</h3>
    </div>

</form>