<div class="justify-content-center row" data-qa-page="welcome-page">
  <form class="col-4" [formGroup]="form" (ngSubmit)='submit()'>
    <div class="form-group">
      <label for="caseSearch"> Enter 10 digit case ID</label>
      <input class="form-control" formControlName="caseId" type="text" id="caseSearch" data-qa="caseSearch"
             name="caseSearch" required minlength="1" maxlength="10" size="10">
    </div>
    <div class="form-group text-right">
      <input class="btn btn-primary" type="submit" data-qa="submit" value="Search">
    </div>
  </form>
</div>
